<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../includes/head.ejs') %>
</head>

<body class="animsition">
    <div class="page-wrapper">
        <%- include('../includes/nav') %>
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row m-b-20">
                        <div class="col-md-12">
                            <div class="title-wrap">
                                <div>
                                    <img class="rounded-circle img-fluid img-40" src="../images/icon/avatar-02.jpg" alt="Foto do Aluno">
                                    <h2 class="title-5 text-center ml-2 d-in-block">
                                        <i class="fa fa-user"></i> Perfil de Vitor Régis de Ramos</h2>
                                </div>
                                <button class="custom-btn custom-btn-icon custom-btn--main m-b-5">
                                    <a href="controle-alunos.html">
                                        <i class="fa fa-back"></i>Voltar para clientes</a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <form id="form-dados" class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nome:</label>
                                                <input type="text" class="form-control" value="Vitor Régis de Ramos"
                                                    readonly="true" />
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Telefone</label>
                                                <input type="text" class="form-control" value="(53)9-9919-7942"
                                                    readonly />
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>CPF</label>
                                                <input type="text" class="form-control" value="234.232.949-23" readonly />
                                            </div>
                                        </div>


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Email:</label>
                                                <input type="text" class="form-control" value="deboragoettems@gmail.com"
                                                    readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-2 d-flex p-t-20">
                                            <button type="button" style="height: 50px;" class="custom-btn--main custom-btn-small editBtn">Editar
                                            </button>

                                            <button type="submit" class="custom-btn--green custom-btn--small sendBtn">
                                                <i class="fa fa-paper-plane"></i>
                                            </button>

                                            <button id="backBtn" style="background-color: rgb(228, 55, 55);" type="button"
                                                class="custom-btn--main custom-btn--small sendBtn m-l-10">
                                                <i class="fa fa-times"> </i>
                                            </button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                    <strong class="card-title text-center">
                                        <i class="fa fa-chart"></i> Compras</strong>
                                    <button class="" data-toggle="modal" data-target="#novo-interessado">
                                        <i class="zmdi zmdi-plus"></i>
                                    </button>
                                </div>
                                <div class="card-body p-0">
                                    <div class="user-data pt-1">
                                        <div class="table-responsive table-data h-auto">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <td>Propiedade</td>
                                                        <td>Status</td>
                                                        <td>Data</td>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="table-data__info">
                                                                <h6>cód. 8422</h6>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="rs-select2--trans rs-select2--sm">
                                                                <select class="js-select2">
                                                                    <option value="">Pagando </option>
                                                                    <option value="">Quitado</option>
                                                                </select>
                                                                <div class="dropDownSelect2"></div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="table-data__info">
                                                                <h6>28/02/2019</h6>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="more">
                                                                <button class="item" type="submit">
                                                                    <i class="zmdi zmdi-more"></i>
                                                                </button>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                    <strong class="card-title text-center">
                                        <i class="fa fa-chart"></i> Aluguéis</strong>
                                    <button class="" data-toggle="modal" data-target="#novo-interessado">
                                        <i class="zmdi zmdi-plus"></i>
                                    </button>
                                </div>
                                <div class="card-body p-0">
                                    <div class="user-data pt-1">
                                        <div class="table-responsive table-data h-auto">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <td>Propiedade</td>
                                                        <td>Status</td>
                                                        <td>Valor</td>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                    <strong class="card-title text-center">
                                        <i class="fa fa-chart"></i> Interesses</strong>
                                    <button class="" data-toggle="modal" data-target="#novo-interessado">
                                        <i class="zmdi zmdi-plus"></i>
                                    </button>
                                </div>
                                <div class="card-body p-0">
                                    <div class="user-data pt-1">
                                        <div class="table-responsive table-data h-auto">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <td>Propiedade</td>
                                                        <td>Status</td>
                                                        <td>Data</td>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="table-data__info">
                                                                <h6>cód. 8422</h6>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="rs-select2--trans rs-select2--sm">
                                                                <select class="js-select2">
                                                                    <option value="">Pagando </option>
                                                                    <option value="">Quitado</option>
                                                                </select>
                                                                <div class="dropDownSelect2"></div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="table-data__info">
                                                                <h6>28/02/2019</h6>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="more">
                                                                <button class="item" type="submit">
                                                                    <i class="zmdi zmdi-more"></i>
                                                                </button>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                    <strong class="card-title text-center">
                                        <i class="fa fa-chart"></i> Visitas</strong>
                                    <button class="" data-toggle="modal" data-target="#novo-interessado">
                                        <i class="zmdi zmdi-plus"></i>
                                    </button>
                                </div>
                                <div class="card-body p-0">
                                    <div class="user-data pt-1">
                                        <div class="table-responsive table-data h-auto">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <td>Propiedade</td>
                                                        <td>Status</td>
                                                        <td>Data</td>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="table-data__info">
                                                                <h6>cód. 8422</h6>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="rs-select2--trans rs-select2--sm">
                                                                <select class="js-select2">
                                                                    <option value="">Pagando </option>
                                                                    <option value="">Quitado</option>
                                                                </select>
                                                                <div class="dropDownSelect2"></div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="table-data__info">
                                                                <h6>28/02/2019</h6>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="more">
                                                                <button class="item" type="submit">
                                                                    <i class="zmdi zmdi-more"></i>
                                                                </button>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="m-b-10">Histórico de Cobranças</h4>
                            <div class="table-responsive m-b-40" style="max-height: 260px;">
                                <table class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th>Atividade</th>
                                            <th>Status</th>
                                            <th>Valor</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Mensalidade Aluguél</td>
                                            <td class="denied">Pendente</td>
                                            <td>R$ 400,00</td>
                                            <td><a href="">Acessar Cobrança</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('../includes/footer') %>
            </div>
            </main>
        </div>
</body>
<%- include('../includes/end') %>
<script>
    $('.sendBtn').hide();
    $('#form-dados .editBtn').click(function () {
        $('.editBtn').hide();
        $('.sendBtn').show();
        $('#form-dados input').each(function () {
            $(this).removeAttr("readonly");
        })
    });
    $('#form-dados #backBtn').click(function () {
        $('.editBtn').show();
        $('.sendBtn').hide();
        $('#form-dados input').each(function () {
            $(this).attr("readonly", true);
        })
    });
</script>

</html>