<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../includes/head.ejs') %>
</head>

<body class="animsition">
    <div class="page-wrapper">
        <%- include('../includes/nav') %>
        <main class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            Formulário para <strong>Nova Propiedade</strong>
                        </div>
                        <div class="card-body card-block">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="text-input" class=" form-control-label">Propietário</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="nome" id="nome" class="select-picker form-control" data-live-search="true">
                                            <option selected disabled>Selecione um cliente</option>
                                            <option value="a"> Angelica Rodrigues</option>
                                            <option value="a"> Carlos Santos</option>
                                            <option value="a"> Debora Goettems</option>
                                            <option value="a"> Ricardo Goettems</option>
                                            <option value="a"> Vitor Régis</option>
                                        </select>
                                        <small class="form-text text-muted">Buscaremos no banco de clientes.</small>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="text-input" class=" form-control-label">Título</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="text-input" name="text-input" placeholder="" class="form-control">
                                        <small class="form-text text-muted">Algo que resuma e atraia possíveis
                                            interessados.</small>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="textarea-input" class=" form-control-label">Descrição</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <textarea name="textarea-input" id="textarea-input" rows="9" placeholder=""
                                            class="form-control"></textarea>
                                        <small class="form-text text-muted">Informações extras e uma propaganda sobre a
                                            propiedade.</small>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="select" class=" form-control-label">Tipo</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select class="form-control" name="tipo" id="tipo">
                                            <option selected disabled>Selecione um tipo</option>
                                            <option value="1">Aluguél</option>
                                            <option value="2">Venda</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="zona" class=" form-control-label">Zona</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="zona" id="zona" class="form-control">
                                            <option selected disabled>Selecione uma zona</option>
                                            <option value="1">Rural</option>
                                            <option value="2">Urbana</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group detalhes">
                                    <div class="col-12 col-md-3">
                                        <label for="zona" class=" form-control-label">Detalhes</label>
                                    </div>
                                    <div class="col-12 col-md-7 detalhes">
                                        <div class="row">
                                            <div class="col-6 col-md-4 zona-urbana mb-2">
                                                <input type="text" id="text-input" name="text-input" placeholder="N. Dormitórios"
                                                    class="form-control">
                                            </div>
                                            <div class="col-6 col-md-4 zona-urbana mb-2">
                                                <input type="text" id="text-input" name="text-input" placeholder="N. Banheiros"
                                                    class="form-control">
                                            </div>
                                            <div class="col-6 col-md-4 zona-urbana mb-2">
                                                <input type="text" id="text-input" name="text-input" placeholder="N. Suítes"
                                                    class="form-control">
                                            </div>
                                            <div class="col-6 col-md-4 zona-urbana mb-2">
                                                <input type="text" id="text-input" name="text-input" placeholder="N. Cozinhas"
                                                    class="form-control">
                                            </div>
                                            <div class="col-6 col-md-4 zona-urbana mb-2">
                                                <input type="text" id="text-input" name="text-input" placeholder="Tem pátio?"
                                                    class="form-control">
                                            </div>
                                            <div class="col-6 col-md-4 zona-urbana mb-2">
                                                <input type="text" id="text-input" name="text-input" placeholder="Tem piscina?"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3> Outros dados ...</h3>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../includes/footer') %>
        </main>
    </div>
</body>
<%- include('../includes/end') %>

<script>
    const btnNewDetail = $('#new_detail');
    let inputNumberOfDetails = document.querySelector('#number_details');
    let numberOfDetails = 0;
    let removeDetailBtns;

    btnNewDetail.click(() => {
        $('.property_detail').children('.remove_detail').remove();

        numberOfDetails += 1;
        inputNumberOfDetails.value = numberOfDetails;
        $('#details_list').append(
            `<div class="property_detail animated fadeIn">
							<input type="text" class="form-control detail_text " placeholder="Detalhe" name="nomedetalhe${numberOfDetails}">
							<button type="button" onclick="removeDetail(this) "class="remove_detail"><i class="fa fa-remove"></i></button>
							<div class="number_picker">
								<input type="text" placeholder="Valor" class="form-control" name="valordetalhe${numberOfDetails}">
							</div>
					</div>`
        );
    });

    const removeDetail = (btn) => {
        $(btn).parent().remove();
        $('.property_detail').last().append(
            '<button type="button" onclick="removeDetail(this) "class="remove_detail"><i class="fa fa-remove"></i></button>'
        );
        numberOfDetails -= 1;
        inputNumberOfDetails.value = numberOfDetails;
    }
</script>

</html>