
  /* ----- Breadcrumb ----- */
  
  .au-breadcrumb {
    height: 75px;
    background: #fff;
    position: relative;
    z-index: 0;
    .section__content {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  
  @media (max-width: 991px) {
    .au-breadcrumb {
      height: 130px;
      &.m-t-75 {
        margin-top: 0;
      }
    }
  }
  
  .au-breadcrumb-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  @media (max-width: 991px) {
    .au-breadcrumb-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      .au-breadcrumb-left {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
      }
      > button {
        margin-bottom: 15px;
      }
    }
  }
  
  .au-breadcrumb-span {
    font-size: 14px;
    color: #999;
    display: inline-block;
  }
  
  .au-breadcrumb__list {
    display: inline-block;
    margin-left: 5px;
    li {
      font-size: 14px;
      color: #999;
    }
    .list-inline-item:not(:last-child) {
      margin-right: 5px;
    }
    .active a {
      color: #999;
      &:hover {
        color: #333;
      }
    }
  }
  
  .au-breadcrumb2 {
    padding-top: 48px;
    padding-bottom: 50px;
    .au-breadcrumb-span {
      color: #808080;
    }
    .au-breadcrumb__list {
      .active a {
        color: #808080;
        &:hover {
          color: #666;
        }
      }
      li {
        color: #808080;
      }
    }
  }
  
  @media (max-width: 991px) {
    .au-breadcrumb2 .au-breadcrumb-left {
      margin-top: 20px;
    }
  }
  
  .au-breadcrumb3 .au-breadcrumb__list .active a:hover {
    color: #ccc;
  }
  
  .line-seprate {
    height: 1px;
    width: 100%;
    background: #e5e5e5;
    border: none;
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .welcome2 {
    background: #393939;
  }
  
  .welcome2-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .welcome2-greeting {
      width: -webkit-calc(100% - 500px);
      width: -moz-calc(100% - 500px);
      width: calc(100% - 500px);
    }
    form {
      height: 45px;
    }
  }
  
  @media (max-width: 991px) {
    .welcome2-inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
      -moz-box-orient: vertical;
      -moz-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      &.m-t-60 {
        margin-top: 0;
      }
      .welcome2-greeting {
        width: 100%;
      }
      form {
        margin-bottom: 30px;
        margin-top: 30px;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
      }
    }
  }
  
  .welcome2-greeting {
    h1 {
      margin-bottom: 12px;
    }
    p {
      font-size: 14px;
      color: #808080;
    }
  }
