.copyright {
    text-align: center;
    padding: 60px 0;
    padding-top: 20px;
    p {
      font-size: 14px;
      color: #666;
      line-height: -webkit-calc(24/14);
      line-height: -moz-calc(24/14);
      line-height: calc(24/14);
    }
  }