
  /* ----- Form ----- */
  input:read-only{
    background-color: rgb(238, 238, 238) !important;
  }

   form.twoinline{
    display: flex;
    justify-content: space-between;
    .custom-input{
      width: 200px !important;
    }
    button{
      margin-left: -10px !important;
    }

    input{
      width: 410px !important;
    }

    @media (max-width: 991px) {
        display: block;
    }

  }

  .form-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  @media (max-width: 991px) {
    .form-header {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }
  
  .form-header2 {
    .custom-btn--submit {
      border: none;
      line-height: 45px;
    }
    .custom-input {
      border-color: rgba(255, 255, 255, 0.2);
      background: rgba(255, 255, 255, 0.051);
      color: #999;
      &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #999;
      }
      &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #999;
        opacity: 1;
      }
      &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #999;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #999;
        /* Microsoft Edge */
        color: #999;
      }
    }
  }
  
  /* ----- Input ----- */
  
  .custom-input {
    line-height: 43px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    color: #666;
    padding: 0 17px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .custom-input--style2 {
    color: #808080;
    line-height: 43px;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    padding: 0 17px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .custom-input--full {
    width: 100%;
  }
  
  .custom-input--h65 {
    line-height: 63px;
    font-size: 16px;
    color: #808080;
  }
  
  .custom-input--w300 {
    min-width: 300px;
  }

  
  .custom-input--w150 {
    width: 150px;
  }
  
  .custom-input--w435 {
    min-width: 435px;
  }
  
  @media (max-width: 767px) {
    .custom-input--w435 {
      min-width: 230px;
    }
  }
  
  .custom-form-icon {
    position: relative;
    .custom-input {
      padding-right: 80px;
    }
  }
  
  .custom-form-icon--sm {
    position: relative;
    .custom-input {
      padding-right: 43px;
    }
  }
  
  .custom-input-icon {
    position: absolute;
    top: 1px;
    right: 12px;
    width: 63px;
    height: 63px;
    line-height: 63px;
    text-align: center;
    display: block;
    i {
      font-size: 30px;
      color: #808080;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  
  .custom-input--xl {
    min-width: 935px;
  }
  
  @media (max-width: 1600px) {
    .custom-input--xl {
      min-width: 350px;
    }
  }
  
  @media (max-width: 991px) {
    .custom-input--xl {
      min-width: 350px;
    }
  }
  
  @media (max-width: 767px) {
    .custom-input--xl {
      min-width: 150px;
    }
  }
  
  .custom-btn--submit {
    position: relative;
    right: 0;
    min-width: 65px;
    line-height: 43px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: $main-color;
    margin-left: -3px;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .custom-btn--collapse {
    position: relative;
    right: 0;
    min-width: 45px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: $main-color;
    color: white;
  }
  
  .custom-btn--submit {
    &:hover {
      background: $secondary-color;
    }
    > i {
      font-size: 20px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  
  .custom-btn--submit2 {
    height: 43px;
    width: 43px;
    position: absolute;
    top: 1px;
    right: 0;
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #4c4c4c;
      font-size: 20px;
    }
  }
  
  .rs-select2--sm {
    width: 114px;
  }
  
  .rs-select2--md {
    width: 160px;
  }
  
  .rs-select2--lg {
    width: 220px;
  }
  
  .rs-text2--xl {
    width: 240px;
  }
  
  .rs-text2--light {
    display: inline-block;
    width: 340px;
    font-size: 14px;
    background-color: transparent;
    box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.007);
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #e0e0e0;
  }
  
  @media (max-width: 767px) {
    .rs-text2--light {
      display: block;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  
  .select2-container {
    display: block;
    max-width: 100% !important;
    width: auto !important;
    outline: none;
  }
  
  .rs-select2--dark {
    display: inline-block;
    .select2-container--default .select2-selection--single {
      border: none;
      outline: none;
      padding-left: 18px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      height: 40px;
      background: #808080;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .select2-selection__rendered {
        color: #fff;
        font-size: 14px;
      }
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
      padding: 0;
    }
    .select2-container--default {
      .select2-selection--single .select2-selection__arrow {
        height: 40px;
        top: 0;
        right: 13px;
        b {
          border-color: #fff transparent transparent transparent;
        }
      }
      &.select2-container--open .select2-selection--single .select2-selection__arrow b {
        border-color: transparent transparent #fff transparent;
      }
    }
    .select2-container--open .select2-dropdown {
      font-size: 14px;
      box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border: 1px solid #e0e0e0;
      margin-top: 8px;
      overflow: hidden;
    }
  }
  
  .rs-select2--trans .select2-container--open .select2-dropdown, .rs-select2--light .select2-container--open .select2-dropdown, .rs-select2--trans .select2-container--open .select2-dropdown {
    font-size: 14px;
    box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #e0e0e0;
    margin-top: 8px;
    overflow: hidden;
  }
  
  .rs-select2--dark .select2-container--open .select2-dropdown .select2-results__option, .rs-select2--trans .select2-container--open .select2-dropdown .select2-results__option, .rs-select2--light .select2-container--open .select2-dropdown .select2-results__option {
    padding: 8px 16px;
  }
  
  .select2-container--default {
    .select2-results__option--highlighted[aria-selected] {
      background: #4272d7;
    }
    &.select2-container--open.select2-container--below {
      .select2-selection--single, .select2-selection--multiple {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }
  
  .rs-select2--border .select2-container--default .select2-selection--single, .rs-select2--dark2 .select2-container--default .select2-selection--single {
    background: #555;
  }
  
  .custom-input--light{
    border: none;
    outline: none;
    padding-left: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 40px;
    background: #fff;
    display: flex;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    font-size: 14px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .filter-input--wrap{
    display: inline-block;
  }

  .rs-select2--light {
    display: inline-block;
    .select2-container--default .select2-selection--single {
      border: none;
      outline: none;
      padding-left: 18px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      height: 40px;
      background: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
      -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
      .select2-selection__rendered {
        color: #808080;
        font-size: 14px;
      }
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
      padding: 0;
    }
    .select2-container--default {
      .select2-selection--single .select2-selection__arrow {
        height: 40px;
        top: 0;
        right: 13px;
        b {
          border-color: #808080 transparent transparent transparent;
        }
      }
      &.select2-container--open .select2-selection--single .select2-selection__arrow b {
        border-color: transparent transparent #808080 transparent;
      }
    }
    v .select2-container--open .select2-dropdown {
      font-size: 14px;
    }
  }
  
  @media (max-width: 767px) {
    .rs-select2--light {
      display: block;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  
  .rs-select2--border .select2-container--default {
    .select2-selection--single {
      background: transparent;
      border: 1px solid #e5e5e5;
      .select2-selection__rendered {
        color: #808080;
      }
      .select2-selection__arrow b {
        border-color: #808080 transparent transparent transparent;
      }
    }
    &.select2-container--open .select2-selection--single .select2-selection__arrow b {
      border-color: transparent transparent #808080 transparent;
    }
  }
  
  .rs-select2--trans {
    .select2-container--default .select2-selection--single {
      border: none;
      outline: none;
      .select2-selection__rendered {
        color: #808080;
        font-size: 14px;
        padding-left: 0;
      }
    }
    .select2-container--open .select2-dropdown {
      font-size: 14px;
    }
  }
  
  .custom-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
  }
  
  .custom-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fff;
    border: 2px solid #e5e5e5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
  
  .custom-checkbox {
    &:hover input ~ .custom-checkmark, input:checked ~ .custom-checkmark {
      background-color: transparent;
    }
  }
  
  .custom-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .custom-checkbox {
    input:checked ~ .custom-checkmark:after {
      display: block;
    }
    .custom-checkmark:after {
      left: 5px;
      top: -1px;
      width: 9px;
      height: 15px;
      border: solid $main-color;
      border-width: 0 4px 4px 0;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  
  .form-control {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
  
  .card {
    margin-bottom: 30px;
  }
  
  .input-group-addon {
    background-color: transparent;
    border-left: 0;
    white-space: nowrap;
    vertical-align: middle;
  }
  
  .input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
  }
  
  .input-group-addon {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #495057;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
  }
  