

  /* ----- Header ----- */
  
  .header-desktop {
    background: #f5f5f5;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    left: 300px;
    height: 75px;
    z-index: 3;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .header-desktop {
    .section__content {
      overflow: visible;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      transition: all 0.4s;
    }
    .mess-dropdown, .email-dropdown, .notifi-dropdown {
      top: 51px;
    }
  }
  
  @media (max-width: 991px) {
    .header-desktop {
      position: relative;
      top: 0;
      left: 0;
      height: 170px;
    }
  }
  
  .header-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .header-wrap .account-item > .content {
      display: none;
    }
  }
  
  @media (max-width: 991px) {
    .header-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      .mess-dropdown {
        left: 0;
        &::before {
          left: 0;
        }
      }
      .notifi-dropdown {
        left: -83px;
        &::before {
          left: 79px;
        }
      }
    }
  }
  
  .header-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  @media (max-width: 991px) {
    .header-button {
      margin-top: 30px;
      width: 100%;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-around;
    }
  }
  
  .noti-wrap {
    height: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .noti__item:last-child {
      margin-right: 50px;
    }
  }
  
  @media (max-width: 1200px) {
    .noti-wrap .noti__item:last-child {
      margin-right: 30px;
    }
  }
  
  @media (max-width: 991px) {
    .noti-wrap .noti__item:last-child {
      margin-right: 0;
    }
  }
  
  .noti__item {
    position: relative;
    margin-right: 35px;
    display: inline-block;
    cursor: pointer;
    &:hover i {
      color: #999;
    }
    i {
      font-size: 30px;
      color: #a9b3c9;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease;
      vertical-align: middle;
    }
    .quantity {
      position: absolute;
      display: inline-block;
      top: -4px;
      right: -7px;
      height: 15px;
      width: 15px;
      line-height: 15px;
      text-align: center;
      background: #ff4b5a;
      color: #fff;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      font-size: 12px;
    }
  }
  
  @media (max-width: 1200px) {
    .noti__item {
      margin-right: 25px;
    }
  }
  
  @media (max-width: 767px) {
    .noti__item {
      margin-right: 20px;
    }
  }
  
  @media (max-width: 767px) {
    .noti__item i {
      font-size: 24px;
    }
  }
  
  .account-wrap {
    position: relative;
  }
  
  .account-item {
    cursor: pointer;
    .image {
      width: 45px;
      height: 45px;
      float: left;
      overflow: hidden;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      > img {
        width: 100%;
      }
    }
    > .content {
      margin-left: 45px;
      padding: 9px 0;
      padding-left: 12px;
      > a {
        color: #333;
        text-transform: capitalize;
        font-weight: 500;
        &:after {
          font-family: "Material-Design-Iconic-Font";
          font-weight: 500;
          content: '\f2f9';
          display: inline-block;
          font-size: 16px;
          margin-left: 5px;
        }
        &:hover {
          color: #666;
        }
      }
    }
  }
  
  .account-dropdown {
    min-width: 305px;
    position: absolute;
    top: 58px;
    right: 0;
    background: #fff;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
    z-index: 3;
    .info {
      padding: 25px;
      border-top: 1px solid #f5f5f5;
      border-bottom: 1px solid #f2f2f2;
      .image {
        float: left;
        height: 65px;
        width: 65px;
        overflow: hidden;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
      }
      .content {
        margin-left: 65px;
        padding: 11px 0;
        padding-left: 12px;
        .name {
          line-height: -webkit-calc(20/16);
          line-height: -moz-calc(20/16);
          line-height: calc(20/16);
          a {
            color: #333;
            font-weight: 500;
            text-transform: capitalize;
            &:hover {
              color: #666;
            }
          }
        }
        .email {
          font-size: 13px;
          color: #999;
          line-height: -webkit-calc(20/13);
          line-height: -moz-calc(20/13);
          line-height: calc(20/13);
        }
      }
    }
    &:after {
      content: '';
      display: block;
      width: 19px;
      height: 19px;
      border-bottom: 9px solid #fff;
      border-top: 9px solid transparent;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      position: absolute;
      top: -18px;
      right: 33px;
    }
  }
  
  .account-dropdown__item a {
    display: block;
    color: #333;
    padding: 15px 25px;
    font-size: 14px;
    &:hover {
      background: #4272d7;
      color: #fff;
    }
    i {
      line-height: 1;
      margin-right: 20px;
      font-size: 18px;
      vertical-align: middle;
    }
  }
  
  .account-dropdown__body {
    padding: 12px 0;
  }
  
  .account-dropdown__footer {
    border-top: 1px solid #f2f2f2;
    a {
      display: block;
      color: #333;
      padding: 15px 25px;
      font-size: 14px;
      &:hover {
        background: #4272d7;
        color: #fff;
      }
      i {
        line-height: 1;
        margin-right: 20px;
        font-size: 18px;
        vertical-align: middle;
      }
    }
  }
  
  .menu-sidebar {
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    overflow-y: hidden;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .img-220 {
    height: 220px;
  }
  
  .img-180 {
    height: 180px;
  }
  
  .menu-sidebar {
    .logo {
      background: #f5f5f5;
      height: 75px;
      padding: 0 35px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
      border-right: 1px solid #e5e5e5;
      position: relative;
      z-index: 3;

      img{
        height: 40px;
      }

    }
    .navbar__list .navbar__sub-list {
      display: none;
      padding-left: 34px;
      li a {
        padding: 11.5px 0;
      }
    }
  }
  
  .menu-sidebar__content {
    position: relative;
    height: -webkit-calc(100vh - 75px);
    height: -moz-calc(100vh - 75px);
    height: calc(100vh - 75px);
  }
  
  .navbar-sidebar {
    padding: 35px;
    padding-bottom: 0;
    .navbar__list li {
      a {
        display: block;
        color: #555;
        font-size: 16px;
        padding: 15px 0;
        i {
          margin-right: 19px;
        }
        &:hover {
          color: $secondary-color;
        }
      }
      &.active > a {
        color: $main-color;
      }
    }
  }
  
  .has-sub {
    position: relative;
  }
  
  .header-mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .header-mobile__bar {
      padding: 15px 0;
    }
    .header-mobile-inner {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    .hamburger {
      width: 36px;
      height: 36px;
      padding: 0;
      line-height: 1;
      vertical-align: top;
      background: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .hamburger-box {
        width: 20px;
        height: 15px;
        .hamburger-inner {
          width: 20px;
          height: 2px;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          &:before {
            width: 20px;
            height: 2px;
            top: 6px;
          }
          &:after {
            top: 12px;
            width: 20px;
            height: 2px;
          }
        }
      }
    }
    .navbar-mobile {
      display: none;
      position: absolute;
      width: 100%;
      top: 88px;
      z-index: 20;
      .navbar-mobile__list {
        background: #f8f8f8;
        > li > a {
          padding-left: 15px !important;
        }
        li {
          a {
            color: #555;
            display: block;
            padding: 10px 15px;
            padding-right: 25px;
            padding-left: 0;
            border-bottom: 1px solid #e6e6e6;
            text-transform: capitalize;
            line-height: inherit;
            &:hover {
              color: #4272d7;
            }
            > i {
              margin-right: 19px;
            }
          }
          &.has-dropdown > a {
            &:after {
              content: '\f105';
              font-family: FontAwesome, cursive;
              float: right;
              font-size: 16px;
              line-height: 22px;
              -webkit-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              transition: all 0.3s ease;
            }
            &.active::after {
              -webkit-transform: rotate(90deg);
              -moz-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              -o-transform: rotate(90deg);
              transform: rotate(90deg);
            }
          }
        }
      }
      .navbar-mobile__dropdown {
        padding-left: 35px;
        display: none;
      }
    }
  }
  
  .navbar-mobile-sub__list {
    display: none;
    padding-left: 30px;
    background: #fff;
  }
  
  .header-mobile .navbar-mobile .navbar-mobile-sub__list li a {
    padding-left: 15px;
  }
  
  .header-mobile-2 {
    background: #393939;
    position: static;
    &.header-mobile {
      .navbar-mobile {
        top: 82px;
      }
      .hamburger {
        background: transparent;
        .hamburger-box .hamburger-inner {
          background: #fff;
          &::before, &::after {
            background: #fff;
          }
        }
      }
    }
  }
  
  .sub-header-mobile-2 {
    background: #fff;
    padding: 15px;
    .header__tool {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -moz-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      .header-button-item {
        color: #a9b3c9;
      }
      .account-wrap .account-item--style2 .content a {
        color: #333;
      }
      .notifi-dropdown, .setting-dropdown {
        top: 49px;
      }
    }
  }
  
  .hamburger.is-active .hamburger-box .hamburger-inner:after {
    -webkit-transform: translate3d(0, -12px, 0) rotate(-90deg);
    -moz-transform: translate3d(0, -12px, 0) rotate(-90deg);
    transform: translate3d(0, -12px, 0) rotate(-90deg);
  }
  
  .mess-dropdown, .email-dropdown, .notifi-dropdown, .setting-dropdown {
    position: absolute;
    z-index: 9999;
    min-width: 340px;
    background: #fff;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e5e5;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    top: 100%;
    left: 0;
  }
  
  .mess-dropdown:before, .email-dropdown:before, .notifi-dropdown:before, .setting-dropdown:before {
    content: '';
    display: block;
    width: 19px;
    height: 19px;
    border-bottom: 9px solid #fff;
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    top: -17px;
    left: 55px;
    z-index: 3;
  }
  
  .mess__title, .email__title, .notifi__title {
    padding: 22px;
    border-bottom: 1px solid #f2f2f2;
    cursor: default;
  }
  
  .mess__title p, .email__title p, .notifi__title p {
    line-height: -webkit-calc(29/14);
    line-height: -moz-calc(29/14);
    line-height: calc(29/14);
    font-size: 14px;
    color: #808080;
  }
  
  .mess__footer a, .email__footer a, .notifi__footer a {
    display: block;
    text-transform: capitalize;
    text-align: center;
    font-size: 14px;
    color: #4272d7;
    padding: 24px 0;
  }
  
  .mess__footer a:hover, .email__footer a:hover, .notifi__footer a:hover {
    color: #3868cd;
  }
  
  .mess-dropdown {
    top: 49px;
    left: -55px;
  }
  
  .mess__item {
    padding: 19px 22px;
    padding-bottom: 14px;
    border-bottom: 1px solid #f2f2f2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover {
      background: #f7f7f7;
    }
    .image {
      margin-right: 15px;
    }
    .content {
      width: -webkit-calc(100% - 55px);
      width: -moz-calc(100% - 55px);
      width: calc(100% - 55px);
      text-align: left;
      h6 {
        font-size: 14px;
        font-weight: 600;
        padding-top: 4px;
      }
      p {
        font-size: 14px;
        color: #555;
        line-height: -webkit-calc(24/14);
        line-height: -moz-calc(24/14);
        line-height: calc(24/14);
        margin-bottom: 4px;
      }
      .time {
        font-size: 12px;
        color: #999;
      }
    }
  }
  
  .email-dropdown {
    top: 49px;
    left: -53px;
  }
  
  .email__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 19px 22px;
    padding-bottom: 14px;
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover {
      background: #f7f7f7;
    }
    .image {
      margin-right: 15px;
    }
    .content {
      width: -webkit-calc(100% - 55px);
      width: -moz-calc(100% - 55px);
      width: calc(100% - 55px);
      text-align: left;
      font-size: 14px;
      p {
        color: #555;
        line-height: 1;
        padding-top: 4px;
        margin-bottom: 3px;
      }
      span {
        font-size: 12px;
        color: #999;
      }
    }
  }
  
  .notifi-dropdown {
    left: -117px;
    top: 49px;
    &::before {
      left: 63px;
    }
  }
  
  .notifi__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 19px 22px;
    padding-bottom: 14px;
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover {
      background: #f7f7f7;
    }
    .img-cir {
      position: relative;
      margin-right: 15px;
      i {
        font-size: 22px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
    .content {
      width: -webkit-calc(100% - 55px);
      width: -moz-calc(100% - 55px);
      width: calc(100% - 55px);
      text-align: left;
      font-size: 14px;
      p {
        color: #555;
        line-height: 1;
        padding-top: 5px;
        margin-bottom: 2px;
      }
      .date {
        font-size: 12px;
        color: #999;
      }
    }
  }
  
  .show-dropdown .js-dropdown {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  
  .menu-sidebar-min {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
  }
  
  @media (max-width: 991px) {
    .menu-sidebar2 {
      top: 0;
      right: -300px;
      left: auto;
      -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      &.show-sidebar {
        right: 0;
      }
    }
  }
  
  .account2 {
    padding: 38px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 1px solid #f2f2f2;
    .name {
      text-transform: capitalize;
      font-weight: 500;
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 5px;
    }
    > a {
      font-size: 14px;
      color: #999;
      &:hover {
        color: #666;
      }
    }
  }
  
  .menu-sidebar2__content {
    height: -webkit-calc(100vh - 75px);
    height: -moz-calc(100vh - 75px);
    height: calc(100vh - 75px);
    border-right: 1px solid #e5e5e5;
    position: relative;
  }
  
  .navbar-sidebar2 {
    .navbar__list li {
      position: relative;
      cursor: pointer;
      .arrow {
        position: absolute;
        right: 15px;
        top: 0;
        text-align: center;
        vertical-align: middle;
        height: 63px;
        width: 63px;
        line-height: 63px;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        &.up {
          -webkit-transform: rotate(-180deg);
          -moz-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
          -o-transform: rotate(-180deg);
          transform: rotate(-180deg);
        }
        i {
          font-size: 16px;
          color: #999;
        }
      }
      &:hover > a {
        color: #4272d7;
      }
      a {
        font-size: 16px;
        color: #555;
        display: block;
        padding: 18px 35px;
        border-bottom: 1px solid #f2f2f2;
        > i {
          margin-right: 20px;
        }
      }
      &.active > a {
        color: #4272d7;
      }
    }
    .navbar__sub-list {
      display: none;
      li {
        background: #f5f5f5;
        a {
          border-color: #ebebeb;
        }
      }
    }
  }
  
  .inbox-num {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 34px;
    width: 30px;
    height: 30px;
    background: #ff4b5a;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  
  .header-button .notifi-dropdown::before {
    left: 117px;
  }
  
  .header-button-item {
    font-size: 30px;
    color: #fff;
    margin-right: 34px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  @media (max-width: 767px) {
    .header-button-item {
      font-size: 22px;
      margin-right: 15px;
    }
  }
  
  .has-noti > i {
    position: relative;
    &:after {
      content: '';
      height: 8px;
      width: 8px;
      background: #ff4b5a;
      position: absolute;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      top: 0;
      right: -6px;
    }
  }
  
  .search-dropdown {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    min-width: 340px;
    position: absolute;
    top: 61px;
    right: -125px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    -o-transform-origin: center top;
    transform-origin: center top;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 5;
    &::before {
      content: '';
      display: block;
      width: 19px;
      height: 19px;
      border-bottom: 9px solid #fff;
      border-top: 9px solid transparent;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      position: absolute;
      top: -18px;
      right: 125px;
    }
    form {
      height: 63px;
      .au-input {
        padding-left: 53px;
        font-size: 14px;
        border: none;
        color: #666;
      }
    }
    .search-dropdown__icon {
      position: absolute;
      top: 0;
      left: 26px;
      font-size: 24px;
      color: #c9c9c9;
      height: 63px;
      line-height: 63px;
    }
  }
  
  .setting-menu {
    position: fixed;
    min-width: 300px;
    right: -300px;
    top: 54px;
    background: #fff;
    text-align: left;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    height: -webkit-calc(100vh - 75px);
    height: -moz-calc(100vh - 75px);
    height: calc(100vh - 75px);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    &:before {
      content: '';
      display: block;
      width: 19px;
      height: 19px;
      border-bottom: 9px solid #fff;
      border-top: 9px solid transparent;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      position: absolute;
      top: -18px;
      right: 47px;
    }
    .account-dropdown__body {
      border-bottom: 1px solid #f2f2f2;
    }
    .account-dropdown__item a {
      color: #555;
      &:hover {
        color: #fff;
      }
    }
  }
  
  .show-sidebar {
    right: 0;
  }
  
  .header3-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    .header__navbar {
      width: 100%;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      top: -12px;
    }
  }
  
  .header__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 3;
  }
  
  .mobile-logo {
    height: 60px;
  }
  
  .header__navbar {
    ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      li {
        position: relative;
        &:last-child a {
          border-right: 1px solid rgba(255, 255, 255, 0.102);
        }
        a {
          display: block;
          font-size: 16px;
          color: #ccc;
          padding: 25px 30px;
          border-left: 1px solid rgba(255, 255, 255, 0.102);
          i {
            margin-right: 13px;
          }
          &:hover {
            color: #4272d7;
            .bot-line {
              -webkit-transform: scale(1);
              -moz-transform: scale(1);
              -ms-transform: scale(1);
              -o-transform: scale(1);
              transform: scale(1);
              opacity: 1;
              -webkit-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              transition: all 0.3s ease;
            }
          }
        }
        &.active > a {
          color: #4272d7;
          .bot-line {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
            opacity: 1;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }
        }
      }
      &.header3-sub-list {
        display: block;
      }
    }
    li.has-sub:hover > .header3-sub-list {
      opacity: 1;
      -webkit-transform: scaleY(1);
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -o-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      -moz-transition: all .3s ease;
      transition: all .3s ease;
    }
    .header3-sub-list {
      position: absolute;
      min-width: 260px;
      background: #fff;
      -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      opacity: 0;
      -webkit-transform: scaleY(0);
      -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -o-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: top center;
      -moz-transform-origin: top center;
      -ms-transform-origin: top center;
      -o-transform-origin: top center;
      transform-origin: top center;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      -moz-transition: all .3s ease;
      transition: all .3s ease;
      li a {
        font-size: 15px;
        color: #777777;
        padding: 10px 22px;
        border: none;
        border-bottom: 1px solid #e1e6eb;
        &:hover {
          color: #4272d7;
          background: #f7f7f7;
        }
      }
    }
  }
  
  @media (max-width: 1570px) and (min-width: 992px) {
    .header__navbar ul li a {
      padding: 25px 15px;
    }
  }
  
  @media (max-width: 1315px) and (min-width: 992px) {
    .header__navbar ul li a {
      font-size: 13px;
      padding: 27px 15px;
      i {
        margin-right: 5px;
      }
    }
  }
  
  .header__tool {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .notifi-dropdown {
      left: -68px;
      top: 53px;
      &::before {
        left: 70px;
      }
    }
    .header-button-item {
      margin-right: 40px;
    }
  }
  
  @media (max-width: 1570px) and (min-width: 992px) {
    .header__tool .header-button-item {
      margin-right: 20px;
    }
  }
  
  @media (max-width: 1315px) and (min-width: 992px) {
    .header__tool .header-button-item {
      margin-right: 20px;
      font-size: 24px;
    }
  }
  
  @media (max-width: 1315px) and (min-width: 992px) {
    .header__tool .account-item > .content {
      display: none;
    }
  }
  
  .bot-line {
    position: absolute;
    width: 100%;
    height: 3px;
    background: #4272d7;
    left: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -ms-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
  }
  
  .setting-dropdown {
    top: 54px;
    left: -97px;
    border: none;
    min-width: 305px;
    &::before {
      left: 99px;
    }
    .account-dropdown__body {
      border-bottom: 1px solid #f2f2f2;
      &:last-child {
        border-bottom: none;
      }
    }
    .account-dropdown__item a {
      color: #555;
      &:hover {
        color: #fff;
      }
    }
  }
  
  .header-button-item {
    cursor: pointer;
  }
  
  .notifi-dropdown--no-bor {
    border: none;
  }
  
  .notifi-dropdown .notifi__item {
    cursor: pointer;
  }
  
  .account-item--style2 {
    .image {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
    }
    .content a {
      font-size: 16px;
      color: #ccc;
      font-weight: 500;
      &:hover {
        color: #fff;
      }
    }
    .account-dropdown {
      top: 61px;
      .info .image {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
      }
    }
  }
  
  .navbar-sidebar3 {
    padding-right: 20px;
    .navbar__list li {
      &.active > a {
        background: #4272d7;
        color: #fff;
        > .arrow > i {
          color: #fff;
        }
      }
      a {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 18px 27px;
        border-bottom: none;
      }
    }
    .navbar__sub-list {
      padding-left: 36px;
      padding-top: 10px;
      padding-bottom: 10px;
      li {
        background: transparent;
        a {
          padding: 11.5px 27px;
        }
      }
    }
    .has-sub.open > a {
      background: #fff;
      border: 1px solid #e5e5e5;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-sidebar3 {
      padding-right: 0;
      margin-bottom: 30px;
    }
  }
  
  button#sideCollapseButton {
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    &.rotated {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  .card-header > button > h3{
    font-size: 16px;
    font-weight: bold;
    color: rgb(104, 104, 104);
  }
  
  /* // Collapse Button */

  /* -- side Hided collapse -- */
  body.sideHided .header-desktop {
    top: 0;
    right: 0;
    left: 0px;
    height: 75px;
  }

  body.sideHided .menu-sidebar {
    left: -300px;
  }

  body.sideHided .main-content {   //  !!! main content is on pagewrapper !!!
    width: 100vw;
  }

  /* -- //side Hided collapse -- */