.login-checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  label input[type="checkbox"] {
    margin-right: 8px;
  }
  >label>a {
    color: #ff2e44;
  }
}

@media (max-width: 991px) {
  .login-checkbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.login-form .form-group label {
  display: block;
}

.login-content {
  background: #fff;
  padding: 30px 30px 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.social-login-content {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 20px 0px;
}

.register-link {
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
  >p>a {
    color: #ff2e44;
  }
}