ul {
    margin: 0;
  }
  
  a[role="button"]{
      display: inline-block;
      text-decoration: none;
      color: #ffff !important;
  }

  button,
  input[type='button'] {
    cursor: pointer;
  }
  
  button:focus,
  input:focus,
  textarea:focus {
    outline: none;
  }
  
  input,
  textarea {
    border: none;
  }
  
  button {
    border: none;
    background: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  p {
    margin: 0;
  }

  .table-responsive {
    padding-right: 1px;
  }
  
  .card,
  .btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }  