/* ----- Table ----- */

.table {
  margin: 0;
}

.table-responsive.table--no-card { 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.table-earning {
  thead th {
    background: #333;
    font-size: 16px;
    color: #fff;
    vertical-align: middle;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1;
    padding: 22px 40px;
    white-space: nowrap;
    &.text-right {
      padding-left: 15px;
      padding-right: 65px;
    }
  }
  tbody {
    td {
      color: #808080;
      padding: 12px 40px;
      white-space: nowrap;
      &.text-right {
        padding-left: 15px;
        padding-right: 65px;
      }
    }
    tr:hover td {
      color: #555;
      cursor: pointer;
    }
  }
}

.table-striped tbody tr {
  &:nth-of-type(odd) {
    background-color: #fff;
  }
  &:nth-of-type(even) {
    background-color: #f5f5f5;
  }
}

.table-top-countries tbody {
  td {
    white-space: nowrap;
    font-size: 14px;
    color: #fff;
    padding: 14px 5px;
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  tr:last-child td {
    border-bottom: none;
  }
}

.table-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 992px) and (max-width: 1519px) {
  .table-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .table-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.table-style1 {
  max-width: 280px;
  margin-bottom: 30px;
  .table {
    tr {
      &:last-child td {
        border-bottom: none;
      }
      td:last-child {
        padding-right: 30px;
      }
    }
    td {
      font-size: 14px;
      color: #808080;
      border-top: none;
      border-bottom: 1px solid #f2f2f2;
      padding: 12px 6px;
      vertical-align: middle;
    }
  }
}

.table-data {
  height: 472px;
  overflow-y: auto;
  thead tr td {
    font-size: 12px;
    font-weight: 600;
    color: #808080;
    text-transform: uppercase;
  }
  .table {
    td {
      border-top: none;
      border-bottom: 1px solid #f2f2f2;
      padding-top: 23px;
      padding-bottom: 33px;
      padding-left: 40px;
      padding-right: 10px;
    }
    tr td:last-child {
      padding-right: 24px;
    }
  }
}

.table-data__info {
  h6 {
    font-size: 15px;
    color: #808080;
    text-transform: capitalize;
    font-weight: 400;
  }
  span a {
    font-size: 12px;
    color: #999;
    &:hover {
      color: #666;
    }
  }
}

.more {
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #e5e5e5;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  i {
    font-size: 20px;
    color: #808080;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.role {
  display: inline-block;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  padding: 0 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: capitalize;
}

@media (min-width: 1200px) {
  .table-responsive-data2 {
    overflow: visible;
  }
}

.table-data2 {
  border-collapse: collapse;
  overflow: visible;
  &.table {
    thead th {
      font-size: 12px;
      color: #555;
      text-transform: uppercase;
      text-align: left;
      border: none;
      font-weight: 600;
      vertical-align: top;
      padding: 15px 40px;
      padding-right: 10px;
      &:first-child {
        padding-right: 0;
      }
    }
    tbody {
      background: #fff;
      tr td {
        &:first-child {
          -webkit-border-top-left-radius: 3px;
          -moz-border-radius-topleft: 3px;
          border-top-left-radius: 3px;
          -webkit-border-bottom-left-radius: 3px;
          -moz-border-radius-bottomleft: 3px;
          border-bottom-left-radius: 3px;
          vertical-align: top;
          .au-checkbox {
            margin-top: 5px;
          }
        }
        &:last-child {
          -webkit-border-top-right-radius: 3px;
          -moz-border-radius-topright: 3px;
          border-top-right-radius: 3px;
          -webkit-border-bottom-right-radius: 3px;
          -moz-border-radius-bottomright: 3px;
          border-bottom-right-radius: 3px;
          padding-right: 35px;
        }
      }
      td {
        font-size: 14px;
        color: #808080;
        vertical-align: middle;
        padding: 25px 40px;
        padding-right: 10px;
        border: none;
        &.desc {
          color: #4272d7;
        }
      }
    }
  }
  .spacer {
    height: 5px;
    background: transparent;
  }
}

@media (max-width: 1199px) {
  .table-data2.table tbody tr td:first-child {
    vertical-align: middle;
    .au-checkbox {
      margin-top: 0;
    }
  }
}

.tr-shadow {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
}

.table-data__tool {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 28px;
  .table-data__tool-left>div,
  .table-data__tool-right>button {
    margin-right: 12px;
  }
}

@media (max-width: 991px) {
  .table-data__tool {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .table-data__tool-right {
      margin-top: 10px;
      >button {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}

.table-data-feature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  .item {
    display: block;
    height: 30px;
    width: 30px;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #e5e5e5;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
    i {
      font-size: 20px;
      color: #808080;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}

.block-email {
  font-size: 14px;
  color: #808080;
  display: inline-block;
  background: #f2f2f2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 30px;
  padding: 0 14px;
}

.status--process {
  color: #00ad5f;
}

.status--denied {
  color: #fa4251 !important;
}

.table-data3 {
  thead {
    background: #333;
    tr th {
      font-size: 16px;
      color: #fff;
      font-weight: 400;
      text-transform: capitalize;
      padding: 18px 40px;
      padding-right: 10px;
      &:first-child {
        -webkit-border-top-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        border-top-left-radius: 3px;
      }
      &:last-child {
        -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topright: 3px;
        border-top-right-radius: 3px;
        text-align: right;
        padding-right: 50px;
      }
    }
  }
  tbody {
    tr {
      td:last-child {
        text-align: right;
        padding-right: 50px;
      }
      border-left: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5;
      &:last-child td {
        &:first-child {
          -webkit-border-bottom-left-radius: 8px;
          -moz-border-radius-bottomleft: 8px;
          border-bottom-left-radius: 8px;
        }
        &:last-child {
          -webkit-border-bottom-right-radius: 8px;
          -moz-border-radius-bottomright: 8px;
          border-bottom-right-radius: 8px;
        }
      }
    }
    td {
      border-bottom: 1px solid #f5f5f5;
      background: #fff;
      font-size: 14px;
      color: #808080;
      padding: 12px 40px;
      padding-right: 10px;
      &.process {
        color: #00ad5f;
      }
      &.denied {
        color: #fa4251;
      }
    }
  }
}

.user-data {
  border: 1px solid #e5e5e5;
  background: #fff;
  padding-top: 44px ;
  
  .title-3{
    padding-left: 40px;
    padding-right: 55px;
  }

  .filters {
    padding-left: 40px;
    padding-right: 55px;
  }

  &__footer {
    padding: 29px 0;
    text-align: center;
  }
}