.task {
  color: #808080;
}

.task--border {

  .task__title,
  .task-list {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
  }

  .task__footer {
    border: 1px solid #e5e5e5;
    border-top: none;
  }
}

.task__title {
  padding: 27px 15px;
  padding-left: 40px;
  padding-bottom: 22px;
  border-bottom: 1px solid #f2f2f2;
  font-size: 14px;
}

.task-list {
  height: 424px;
  position: relative;
  overflow-y: auto;
}

.task__item {
  border-bottom: 1px solid #f2f2f2;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &:hover {
    background: #f7f7f7;
  }
}

.task__item-inner {
  padding: 26px 15px;
  padding-left: 40px;

  .task {
    font-size: 16px;
    margin-bottom: 6px;

    a {
      font-size: 16px;
      color: #808080;
      font-weight: 400;

      &:hover {
        color: #333;
      }
    }
  }

  .time {
    font-size: 14px;
    color: #555;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.task__item--danger .task__item-inner {
  border-left: 3px solid #fa4251;
}

.task__item--warning .task__item-inner {
  border-left: 3px solid #ffa037;
}

.task__item--primary .task__item-inner {
  border-left: 3px solid #4272d7;
}

.task__item--success .task__item-inner {
  border-left: 3px solid #00ad5f;
}

.task__footer,
.message__footer {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 45px;
}

.task-progress {
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 40px;
  padding-top: 42px;
  padding-right: 55px;
  padding-bottom: 74px;
  margin-bottom: 40px;

  .title-3 {
    margin-bottom: 32px;
  }

  .progress {
    padding: 11px 0;
  }
}

.task__clear-all button {
  width: 100%;
  background-color: $main-color;
  padding: 8px 5px;
  color: #fff;
  font-weight: 400px;
  font-size: 13px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;

  &:hover{
    background-color: $secondary-color;
  }
}