<div class="modal fade" id="nova-visita" tabindex="-1" role="dialog" area-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nova Visita</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form method="" action="">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    <select name="nome" id="nome" class="select-picker form-control" data-live-search="true">
                                        <option selected disabled>Selecione um cliente</option>
                                        <option value="a"> Angelica Rodrigues</option>
                                        <option value="a"> Carlos Santos</option>
                                        <option value="a"> Debora Goettems</option>
                                        <option value="a"> Ricardo Goettems</option>
                                        <option value="a"> Vitor Régis</option>
                                    </select>
                                    <small class="form-text text-muted mb-3">Buscaremos no banco de clientes.</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="nome-jogo">Data</label>
                                    <input type="date" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <label for="nome-jogo">Hora</label>
                                    <input type="time" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="custom-btn custom-btn--main">Criar</button>
                            <button type="button" class="custom-btn custom-btn--small custom-btn--danger" data-dismiss="modal">Voltar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>